.menuProjectItems {
  display: block;
  width: 100%;
  padding: 3px 2px;
  height: 100%;
  overflow: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar-thumb {
    background: #27353C;
  }

  &::-webkit-scrollbar-track {
    background: #13191C;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-button {
    opacity: 0;
  }

  .notFound {
    color: #ffffff56;
    font-size: 12px;
    margin-left: 20px;
  }
}