@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import 'react-simple-toasts/dist/theme/dark.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

#bosque {
  padding: 10px;
  height: 100vh;
  display: flex;
  gap: 12px;
  background: #191E20;
}

#bosqueContent {
  width: 100%;
  border-radius: 3px;
  background: #13191C;
  padding: 20px;
}

@media screen and (max-width: 720px) {
  #bosque {
    padding: 0;
    height: inherit;
    display: block;
    background: #13191C;
  }
}

.toast-warning {
  background-color: #ce6e00ea;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
}

p {
  margin: 0;
}
