.contentPage {
  width: 100%;

  h6 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
  }

  .contentItems {
    margin-top: 12px;
    margin-bottom: 30px;

    .contentItemsFlex  {
      display: flex;
      gap: 12.96px;
    }
  }
}